body {
  font-family: sans-serif;
  background-color: #333;
}

#gameArea {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 20px;
  display: inline-block;
}

.row {
  background-color: yellow;
  display: flex;
}

.col {
  padding: 30px;
  background-color: white;
}

.col:not(:last-child) {
}

.col.fill {
  background-color: rgb(248, 4, 86);
}
